<% layout("/layouts/boilerplate") %>

<body>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .filter {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1rem;
      opacity: 0.7;
      cursor: pointer;
      min-width: 80px;
    }
    .filter:hover {
      opacity: 1;
    }
    .tax-info {
      display: none;
    }
    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: auto;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      margin-left: 0;
      margin-bottom: 1rem;
      width: 100%;
      max-width: 350px;
    }
    .card-img-top {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
    .listing-card {
      min-width: 0;
      width: 100%;
    }
    @media (max-width: 576px) {
      .card-img-top {
        height: 10rem;
      }
      .listing-card {
        width: 100%;
      }
    }
  </style>
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Mountains</p>
    </div>

    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castels</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Boats</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-tent"></i></div>
      <p>Camping</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
    </div>
  </div>
  <!-- <h3>All Listings</h3> -->
  <br>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <% for(let listing of allListings){ %>
      <div class="col">
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card listing-card h-100">
            <img src="<%= listing.image.url ? listing.image.url : listing.image %>" class="card-img-top" alt="listing Image" />
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text">
                <i><b>&#8377 <%= listing.price.toLocaleString("en-IN") %> </b></i>/ night
                <i class="tax-info">+18% GST</i>
                <br>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>


<script>
  let taxSwitch = document.getElementById("switchCheckDefault")
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info")

    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline"
      }else{
        info.style.display = "none"
      }
      
    }
  })
</script>
  